MONGO_URI=your_mongodb_connection_string
PORT=5001
JWT_SECRET=your_jwt_secret

# Cloudinary credentials
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

ADMIN_EMAIL=admin@unimate.com
ADMIN_PASSWORD=unimate123

# Frontend URL for CORS
CLIENT_URL=https://your-frontend-project.vercel.app
